h6 { font-size: 1.35rem; }

.material-icons.md-18 {
    font-size: 18px;
    width: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
    width: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
    width: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
    width: 48px;
}

.pin-top > .l1 {
    color: rgba(255, 255, 255, 0.0) !important;
    transition: color 0.3s ease;
}

.pin-top > #button-up { cursor: default; }

.pinned > #button-up {
    color: rgba(255, 255, 255, 1.0) !important;
    transition: color 0.3s ease;
    cursor: pointer;
}

.pinned > .s12 > .tabs > .tab > #small-logo {
    color: transparent !important;
    background-image: url("../logo-white.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.indicator-item.active {
    background-color: #ff9800 !important;
}

.slider {
    margin-bottom: 10px;
}

#gt-telephone-number {
    font-size: 16pt;
}

#gt-navigator {
    z-index: 5;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16)
}

#gt-navigator-wrapper {
    margin-bottom: 0;
    height: 48px;
}

#gt-navigator > #gt-nav-bar > ul > .indicator {
    background-color: white;
    height: 3px;
}

#button-up {
    height: 48px;
    line-height: 48px;
    font-size: 18pt;
}

svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

#gt-body {
    background-color: #f5f5f5;
    min-width: 360px;
}

.wave-container {
    display: inline-block;
    position: relative;
    width: 100%;
}

#gt-wave-svg {
    animation-name: movement;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    -webkit-animation-name: movement;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
}

#gt-footer {
    padding-top: 0;
    margin-top: 60px;
}

.gt-text-with-icon-24px {
    position: relative;
    width: 100%;
    height: 24px;
    padding: 0;
    margin: 0;
}

.gt-left-icon-24px {
    position: absolute;
    top: 6px;
    width: 24px;
    height: 24px;
    font-size: 24px;
}

.gt-right-text-24px {
    position: absolute;
    font-size: 12pt;
    left: 30px;
    width: auto;
    height: 24px;
    line-height: 24px;
}

.gt-text-with-icon-36px {
    position: relative;
    width: 100%;
    height: 36px;
    padding: 0;
    margin: 0;
}

.gt-left-icon-36px {
    position: absolute;
    top: 6px;
    width: 36px;
    height: 36px;
    font-size: 36px;
}

.gt-right-text-36px {
    position: absolute;
    font-size: 14pt;
    left: 46px;
    width: auto;
    height: 36px;
    line-height: 36px;
}

.gt-card-right-text {
    top: 10px;
}

.gt-hotel-name {
    font-size: 14pt;
}

.gt-ruble-sign {
    font-family: 'PT Sans', Arial, sans-serif;
}

.gt-star-rate {
    width: 24px;
}

.gt-hot-price {
}


@keyframes movement {
    from {
        left: -60px;
    }
    50% {
        left: 0
    }
    to {
        left: -60px;
    }
}

@-webkit-keyframes movement {
    from {
        left: -60px;
    }
    50% {
        left: 0
    }
    to {
        left: -60px;
    }
}
